* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body .header {
  background-image: url(../image/mountains.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
body .header .header-top {
  padding-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header .header-left {
  display: flex;
  align-items: center;
}
body .header .header-left .toplist {
  display: flex;
}
body .header .header-left .toplist li {
  padding-right: 30px;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
body .header .header-left .toplist li > :nth-child(4) {
  padding-right: 0;
}
body .header .header-left .mountain {
  cursor: pointer;
  margin-right: 99px;
  color: #FCFCFC;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
body .header .header-right {
  display: flex;
  align-items: center;
}
body .header .header-right button {
  background: transparent;
  cursor: pointer;
}
body .header .header-right .tel {
  margin-right: 43px;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body .header .header-right .search {
  margin-right: 30px;
}
body .header .header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 299px;
}
body .header .header-center h1 {
  padding-top: 263px;
  padding-bottom: 66px;
  color: #FCFCFC;
  font-family: "Oswald", sans-serif;
  font-size: 98px;
  font-weight: 600;
}
body .header .header-center button {
  cursor: pointer;
  background: transparent;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #FCFCFC;
  padding: 16px 43px;
}
body .section1 {
  position: relative;
}
body .section1 h2 {
  padding-top: 140px;
  padding-bottom: 50px;
  display: flex;
  width: 472px;
  height: 107px;
  flex-direction: column;
  justify-content: center;
  color: #061B28;
  font-family: "Oswald", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 115%;
}
body .section1 .text {
  padding-bottom: 140px;
}
body .section1 .text p {
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  max-width: 350px;
}
body .section1 .text > :first-child {
  padding-bottom: 20px;
}
body .section1 .map {
  position: absolute;
  top: 223px;
  right: 0;
}
body .section2 .nameSec {
  margin-bottom: 80px;
}
body .section2 .nameSec h2 {
  justify-content: center;
  color: #061B28;
  font-family: "Oswald", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 115%;
  display: flex;
}
body .section2 .slider-hidden {
  overflow: hidden;
}
body .section2 .tours {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 0;
  transition: all ease 0.5s;
}
body .section2 .tours .beluha {
  position: relative;
  margin-right: 31px;
}
body .section2 .tours .beluha .top {
  display: flex;
  justify-content: space-between;
}
body .section2 .tours .beluha .top .beluha_bg {
  position: relative;
}
body .section2 .tours .beluha .top__left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 39px;
}
body .section2 .tours .beluha .top__left .point {
  margin-right: 7px;
}
body .section2 .tours .beluha .top__right {
  position: absolute;
  right: 40px;
  top: 41px;
}
body .section2 .tours .beluha .top__right button {
  background: transparent;
  cursor: pointer;
}
body .section2 .tours .beluha .bottom h2 {
  position: absolute;
  bottom: 113px;
  left: 40px;
}
body .section2 .tours .beluha .bottom .info {
  position: absolute;
  bottom: 75px;
  left: 40px;
  display: flex;
  color: var(--, #061B28);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
body .section2 .tours .beluha .bottom .info img {
  margin-left: 3px;
}
body .section2 .tours .beluha .bottom .complexity {
  display: flex;
  position: absolute;
  left: 38px;
  bottom: 40px;
}
body .section2 .tours .beluha .bottom .complexity img {
  margin-right: 6px;
}
body .section2 .tours .beluha .bottom .complexity P {
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
body .section2 .tours .elbrus {
  position: relative;
  margin-right: 31px;
}
body .section2 .tours .elbrus .top {
  display: flex;
  justify-content: space-between;
}
body .section2 .tours .elbrus .top .beluha_bg {
  position: relative;
}
body .section2 .tours .elbrus .top__left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 39px;
}
body .section2 .tours .elbrus .top__left .point {
  margin-right: 7px;
}
body .section2 .tours .elbrus .top__right {
  position: absolute;
  right: 40px;
  top: 41px;
}
body .section2 .tours .elbrus .top__right button {
  background: transparent;
  cursor: pointer;
}
body .section2 .tours .elbrus .bottom h2 {
  position: absolute;
  bottom: 113px;
  left: 40px;
}
body .section2 .tours .elbrus .bottom .info {
  position: absolute;
  bottom: 75px;
  left: 40px;
  display: flex;
  color: var(--, #061B28);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
body .section2 .tours .elbrus .bottom .info img {
  margin-left: 3px;
}
body .section2 .tours .elbrus .bottom .complexity {
  display: flex;
  position: absolute;
  left: 38px;
  bottom: 40px;
}
body .section2 .tours .elbrus .bottom .complexity img {
  margin-right: 6px;
}
body .section2 .tours .elbrus .bottom .complexity P {
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
body .section2 .tours .kilimangaro {
  position: relative;
  margin-right: 31px;
}
body .section2 .tours .kilimangaro .top {
  display: flex;
  justify-content: space-between;
}
body .section2 .tours .kilimangaro .top .kilimangaro_bg {
  position: relative;
}
body .section2 .tours .kilimangaro .top__left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 39px;
}
body .section2 .tours .kilimangaro .top__left .point {
  margin-right: 7px;
}
body .section2 .tours .kilimangaro .top__right {
  position: absolute;
  right: 40px;
  top: 41px;
}
body .section2 .tours .kilimangaro .top__right button {
  background: transparent;
  cursor: pointer;
}
body .section2 .tours .kilimangaro .bottom h2 {
  position: absolute;
  bottom: 113px;
  left: 40px;
}
body .section2 .tours .kilimangaro .bottom .info {
  position: absolute;
  bottom: 75px;
  left: 40px;
  display: flex;
  color: var(--, #061B28);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
body .section2 .tours .kilimangaro .bottom .info img {
  margin-left: 3px;
}
body .section2 .tours .kilimangaro .bottom .complexity {
  display: flex;
  position: absolute;
  left: 38px;
  bottom: 40px;
}
body .section2 .tours .kilimangaro .bottom .complexity img {
  margin-right: 6px;
}
body .section2 .tours .kilimangaro .bottom .complexity P {
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
body .section2 .buttons {
  display: flex;
  justify-content: right;
}
body .section2 .buttons .left_button {
  margin-right: 25px;
}
body .section2 .buttons button {
  cursor: pointer;
}
body .section3 {
  margin-top: 130px;
  margin-bottom: 86px;
}
body .section3 .title {
  display: flex;
  justify-content: center;
  color: #061B28;
  font-family: "Oswald", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 115%;
  margin-bottom: 80px;
}
body .section3 .tabs {
  display: flex;
  justify-content: space-between;
}
body .section3 .tabs__container .tab__title {
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 128px;
  margin-right: 70px;
}
body .section3 .tabs__container .tab__title p {
  margin: 0 0 20px 30px;
  padding-top: 30px;
  color: #7E8386;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
body .section3 .tabs__container .tab__title h2 {
  margin-left: 30px;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
body .section3 .tabs__container .tab__title img {
  position: absolute;
  bottom: 0;
}
body .section3 .tabs__container .tab .active-tab {
  background: #061B28;
}
body .section3 .tabs__container .tab .active-tab h2 {
  margin-left: 30px;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
body .section3 .tabs__container .tab .non_active-tab h2 {
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
body .section3 .tabs__content {
  margin-bottom: 86px;
}
body .section3 .tabs__content img {
  margin-bottom: 40px;
}
body .section3 .tabs__content .tab__date {
  margin-bottom: 20px;
  color: #626F77;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
body .section3 .tabs__content .tab__name {
  margin-bottom: 35px;
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 140%;
}
body .section3 .tabs__content .p_first {
  margin-bottom: 10px;
}
body .section3 .tabs__content p {
  color: #061B28;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 683px;
}
body .section3 .tabs__content .hidden-tab-content {
  display: none;
}
body .section4 {
  background-color: #061B28;
  background-size: contain;
}
body .section4 .sec4 {
  display: flex;
  justify-content: space-between;
}
body .section4 .sec4__right {
  background: url(../image/RegBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 673px;
  height: 725px;
  max-width: 690px;
  margin-right: -100px;
}
body .section4 .sec4__left {
  padding-right: 60px;
}
body .section4 .sec4__left .title {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 525px;
  height: 107px;
  color: #FCFCFC;
  font-family: "Oswald", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 115%;
}
body .section4 .sec4__left .unTitle {
  width: 431px;
  height: 40px;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 45px;
}
body .section4 .sec4__left .reg {
  display: flex;
  flex-direction: column;
}
body .section4 .sec4__left .reg input {
  background: transparent;
  border: 0;
  height: 40px;
  outline: none;
  color: #7E8386;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
body .section4 .sec4__left .reg img {
  width: 525px;
  height: 1px;
  margin-bottom: 35px;
}
body .section4 .sec4__left .reg button {
  width: 525px;
  height: 50px;
  background: #EC5118;
}
body .section4 .sec4__left .reg button h2 {
  cursor: pointer;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
body .section4 .sec4__left .reg p {
  margin-top: 25px;
  margin-bottom: 80px;
  width: 393px;
  height: 30px;
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
body .footer {
  background-color: #061B28;
  background-size: contain;
}
body .footer .foot {
  padding: 56px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .footer .foot__left {
  display: flex;
  align-items: center;
}
body .footer .foot__left p {
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
body .footer .foot__left img {
  margin: 0 5px;
}
body .footer .foot a {
  color: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
body .footer .foot h2 {
  color: #FCFCFC;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */